.image__upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image__upload-progress {
    width: 100%;
}